@model IEnumerable<Inventario.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2>Proveedores</h2>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style>
    ion-icon[name="add-circle-outline"] {
        font-size: 300%;
    }

    ion-icon[name="create-outline" ] {
        font-size: 150%;
    }

    ion-icon[name="trash-outline"] {
        font-size: 150%;
    }

    ion-icon[name="eye-outline"] {
        font-size: 150%;
    }
</style>
<a href="@Url.Action("Create", "Proveedors")" class=" btn btn-success">
    <ion-icon name="add-circle-outline"></ion-icon>
</a>

<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="Nombre-@item.ProveedorID">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Proveedors", new { id = item.ProveedorID })" class=" btn btn-warning" id="Edit-@item.ProveedorID">
                    <ion-icon name="create-outline"></ion-icon>
                </a> |
                <a href="@Url.Action("Details", "Proveedors", new { id=item.ProveedorID })" class="btn btn-primary" id="Details-@item.ProveedorID">
                    <ion-icon name="eye-outline"></ion-icon>
                </a>
                |
                <a href="@Url.Action("Delete", "Proveedors", new { id = item.ProveedorID })" class="btn btn-danger" id="Delete-@item.ProveedorID">
                    <ion-icon name="trash-outline"></ion-icon>
                </a>
            </td>
        </tr>
    }

</table>
